USE [master]
GO
/****** Object:  Database [DVDLibrary]    Script Date: 5/8/2022 3:54:37 PM ******/
CREATE DATABASE [DVDLibrary]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DVDLibrary', FILENAME = N'C:\Users\DELL\DVDLibrary.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DVDLibrary_log', FILENAME = N'C:\Users\DELL\DVDLibrary_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DVDLibrary].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DVDLibrary]
GO
USE [DVDLibrary]
GO
/****** Object:  Table [dbo].[DVDLibrary]    Script Date: 5/8/2022 3:54:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DVDLibrary](
	[DVDCodeNo] [numeric](18, 0) NOT NULL,
	[DVDTitle] [nchar](40) NOT NULL,
	[Language] [char](20) NULL,
	[SubTitles] [bit] NULL,
	[Price] [money] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
