.brand-body-action {
  border: none;
  padding: 6px;
  margin: 0 4px;
}

.brand-form-group {
  font-size: 1.6rem;
  align-items: center;
}

.brand-form-input {
  font-size: 1.6rem;
}

.brand-form-row {
  display: flex;
  margin-bottom: 5px;
}

.brand-form-lable {
  color: #999;
  font-weight: 300;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.brand-add-btn {
  padding: 10px 20px;
  font-size: 1.6rem;
}

.brand-form-btn {
  font-size: 1.6rem;
  padding: 5px 10px;
}
