.product {
  padding: 20px;
}
.product-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.product-lable {
  font-size: 2rem;
}

.product-form-group {
  font-size: 1.6rem;
  align-items: center;
}

.product-form-row {
  display: flex;
  margin-bottom: 5px;
}

.product-form-col {
  display: flex;
  align-items: center;
}

.product-form-lable {
  color: #999;
  font-weight: 300;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.product-form-input {
  font-size: 1.6rem;
}

.product-add-btn {
  padding: 10px 20px;
  font-size: 1.6rem;
}

.product-form-btn {
  font-size: 1.6rem;
  padding: 5px 10px;
}

.product-table {
  vertical-align: middle;
}

.pagination {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  gap: 5px;
  margin-top: 30px;
}

.pagination .page-num {
  display: block;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
  text-decoration: none;

  &:hover {
    color: #fff;
    background-color: var(--primary-color);
  }
}

.pagination .active {
  color: #fff;
  background-color: var(--primary-color);
}
