.overview {
  margin: 20px;
  padding: 20px 0;
  font-size: 2rem;
  border: 1px solid #ccc;
}
.overview-icon {
  margin: 0 12px;
}
.overview-name {
}
.overview-quantity {
  font-size: 3rem;
  margin-top: 20px;
  margin-left: 45px;
}
