.producttype-body-action {
  border: none;
  padding: 6px;
  margin: 0 4px;
}

.producttype-form-group {
  font-size: 1.6rem;
  align-items: center;
}

.producttype-form-row {
  display: flex;
  margin-bottom: 5px;
}

.producttype-form-input {
  font-size: 1.6rem;
}

.producttype-add-btn {
  padding: 10px 20px;
  font-size: 1.6rem;
}

.producttype-form-btn {
  font-size: 1.6rem;
  padding: 5px 10px;
}
