.orders {
  padding: 20px;
}

.orders-row {
  margin-bottom: 20px;
}

.orders-col {
  display: flex;
  align-items: center;
}

.orders-lable {
  font-size: 2rem;
  margin-bottom: 0px;
}

.orders-table {
  vertical-align: middle;
}

.pagination {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  gap: 5px;
  margin-top: 30px;
}

.pagination .page-num {
  display: block;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
  text-decoration: none;

  &:hover {
    color: #fff;
    background-color: var(--primary-color);
  }
}

.pagination .active {
  color: #fff;
  background-color: var(--primary-color);
}
