.category {
  padding: 20px;
}
.category-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.category-lable {
  font-size: 2rem;
}

.category-form-group {
  font-size: 1.6rem;
  align-items: center;
}

.category-form-row {
  display: flex;
  margin-bottom: 5px;
}

.category-form-input {
  font-size: 1.6rem;
}

.category-add-btn {
  padding: 10px 20px;
  font-size: 1.6rem;
}

.category-form-btn {
  font-size: 1.6rem;
  padding: 5px 10px;
}

.category-table {
  vertical-align: middle;
}
